@font-face {
  font-family: Gotham Rounded;
  src: url('../fonts/GothamRounded-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gotham Rounded;
  src: url('../fonts/GothamRounded-LightITalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Gotham Rounded;
  src: url('../fonts/GothamRounded-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gotham Rounded;
  src: url('../fonts/GothamRounded-BookItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Gotham Rounded;
  src: url('../fonts/GothamRounded-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gotham Rounded;
  src: url('../fonts/GothamRounded-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Gotham Rounded;
  src: url('../fonts/GothamRounded-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

body,
html {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: "Gotham Rounded", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 14px;
  color: #353535;
  overflow-x: hidden;
}

.wrapper {
  width: 73%;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

section {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.burger {
  position: absolute;
  right: 15vw;
  top: 65px;
  font-size: 33px;
  cursor: pointer;
  line-height: 24px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
}

.burger:hover {
  color: #3dc9b3;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
  z-index: 25;
  opacity: 0;
  display: none;
}

.menu {
  position: absolute;
  top: 0;
  right: -20vw;
  width: 20vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  z-index: 100;
}

.menu p {
  color: #fff;
  font-size: 18px;
  margin-top: 7vh;
  letter-spacing: 10px;
  text-align: center;
}

.menu p span {
  color: #a1a9b0;
}

.menu ul {
  margin: 10% 0;
}

.menu ul a {
  display: block;
  color: #fff;
  list-style-type: none;
  padding: 5% 0px;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu a::after {
  content: '';
  width: 33px;
  height: 2px;
  background-color: #3dc9b3;
  color: #3dc9b3;
  display: block;
  margin: 10px auto;
  opacity: 0.9;
}

.menu a:hover {
  color: #3dc9b3;
}

.menu-active {
  right: 0;
}

.burger-active {
  right: 22vw;
  color: #fff;
}

.header-composition {
  margin: 0 auto;
  text-align: center;
  margin-top: 27%;
}

.header-composition span {
  color: #a1a9b0;
}

.header-composition .h1 {
  margin-bottom: 25px;
  letter-spacing: 12px;
  font-size: 40px;
}

.header-composition p {
  color: #8c9398;
  font-family: "Gotham Rounded", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.25px;
}

.header-composition p span {
  font-weight: 500;
  font-style: italic;
}

.h1,
.h2,
.h3 {
  color: #353535;
  font-family: "Gotham Rounded", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.25px;
}

.h2 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 25px;
}

.h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 25px 0;
  letter-spacing: 1.7px;
}

.button {
  color: #fff;
  background-color: #3dc9b3;
  text-transform: uppercase;
  padding: 25px 35px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2.25px;
  margin-top: 65px;
  display: inline-block;
  -webkit-box-shadow: inset 0 -3px 0 #289181;
  box-shadow: inset 0 -3px 0 #289181;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
  text-decoration: none;
  background-color: #33b9a4;
  color: #fff;
}

.composition {
  padding: 8% 0;
  margin: 0 auto;
  text-align: center;
}

.portfolio {
  width: 100%;
  background-color: #f3f5f8;
  height: inherit;
}

.portfolio-composition p {
  color: #8c9398;
  margin-top: 8%;
  line-height: 2.5;
}

.arr {
  background-image: url(../img/arr.png);
  width: 15px;
  height: 13px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.arr:hover {
  -webkit-animation: arr-animation 0.5s ease forwards;
  animation: arr-animation 0.5s ease forwards;
}

.arr::before,
.arr::after {
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.1);
  width: 240px;
}

.arr::before {
  left: 35px;
}

.arr::after {
  right: 35px;
}

@-webkit-keyframes arr-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 13px;
  }
}

@keyframes arr-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 13px;
  }
}

.wrapped-item {
  color: #353535;
  letter-spacing: 0.14px;
  font-weight: 700;
}

.services {
  height: inherit;
  background-color: #fff;
}

.services-cards {
  padding-bottom: 8%;
}

.service-card {
  text-align: center;
}

.service-card i {
  color: #fff;
  font-size: 60px;
  background-color: #3dc9b3;
  padding: 50px;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.service-card .card-icon {
  overflow: hidden;
  text-shadow: #32b5a0 1px 1px, #32b5a0 2px 2px, #32b5a0 3px 3px, #32b5a0 3px 3px, #32b5a0 4px 4px, #32b5a0 5px 5px, #32b5a0 6px 6px, #32b5a0 7px 7px, #32b5a0 8px 8px, #32b5a0 9px 9px, #32b5a0 10px 10px, #32b5a0 11px 11px, #32b5a0 12px 12px, #32b5a0 13px 13px, #32b5a0 14px 14px, #32b5a0 15px 15px, #32b5a0 16px 16px, #32b5a0 17px 17px, #32b5a0 18px 18px, #32b5a0 19px 19px, #32b5a0 20px 20px, #32b5a0 21px 21px, #32b5a0 22px 22px, #32b5a0 23px 23px, #32b5a0 24px 24px, #32b5a0 25px 25px, #32b5a0 26px 26px, #32b5a0 27px 27px, #32b5a0 28px 28px, #32b5a0 29px 29px, #32b5a0 30px 30px, #32b5a0 31px 31px, #32b5a0 32px 32px, #32b5a0 33px 33px, #32b5a0 34px 34px, #32b5a0 35px 35px, #32b5a0 36px 36px, #32b5a0 37px 37px, #32b5a0 38px 38px, #32b5a0 39px 39px, #32b5a0 40px 40px, #32b5a0 41px 41px, #32b5a0 42px 42px, #32b5a0 43px 43px, #32b5a0 44px 44px, #32b5a0 45px 45px, #32b5a0 46px 46px, #32b5a0 47px 47px, #32b5a0 48px 48px, #32b5a0 49px 49px, #32b5a0 50px 50px, #32b5a0 51px 51px, #32b5a0 52px 52px, #32b5a0 53px 53px, #32b5a0 54px 54px, #32b5a0 55px 55px, #32b5a0 56px 56px, #32b5a0 57px 57px, #32b5a0 58px 58px, #32b5a0 59px 59px, #32b5a0 60px 60px, #32b5a0 61px 61px, #32b5a0 62px 62px, #32b5a0 63px 63px, #32b5a0 64px 64px, #32b5a0 65px 65px, #32b5a0 66px 66px, #32b5a0 67px 67px, #32b5a0 68px 68px, #32b5a0 69px 69px, #32b5a0 70px 70px, #32b5a0 71px 71px, #32b5a0 72px 72px, #32b5a0 73px 73px, #32b5a0 74px 74px, #32b5a0 75px 75px, #32b5a0 76px 76px, #32b5a0 77px 77px, #32b5a0 78px 78px, #32b5a0 79px 79px, #32b5a0 80px 80px, #32b5a0 81px 81px, #32b5a0 82px 82px, #32b5a0 83px 83px, #32b5a0 84px 84px, #32b5a0 85px 85px, #32b5a0 86px 86px, #32b5a0 87px 87px, #32b5a0 88px 88px, #32b5a0 89px 89px, #32b5a0 90px 90px, #32b5a0 91px 91px, #32b5a0 92px 92px, #32b5a0 93px 93px, #32b5a0 94px 94px, #32b5a0 95px 95px, #32b5a0 96px 96px, #32b5a0 97px 97px, #32b5a0 98px 98px, #32b5a0 99px 99px, #32b5a0 100px 100px;
}

.service-card h3.title {
  margin: 25px 0;
}

.text {
  text-align: center;
  color: #8c9398;
  line-height: 1.7;
}

.design {
  height: auto;
  background-color: #f3f5f8;
  position: relative;
}

.design::after {
  content: '';
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  display: block;
}

.design .wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10% 0%;
}

.right-half {
  z-index: 2;
  text-align: center;
  padding-left: 10%;
  padding-right: 0;
}

.right-half .slick-dots {
  padding-bottom: 24%;
}

.design-composition {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.design-composition .arr::before,
.design-composition .arr::after {
  width: 150px;
}

.design-composition p {
  margin-top: 50px;
  word-spacing: 3px;
  color: #8c9398;
  line-height: 1.8;
  text-align: left;
}

.design-slider {
  width: 100%;
  overflow: hidden;
}

.slick-dots {
  position: static;
}

.slick-dots li button {
  border: 2px solid #c9cbca;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slick-dots li button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.slick-dots li button:before {
  content: '';
  opacity: 0;
  width: 10px;
  height: 10px;
  top: 2px;
  left: 2px;
  border-radius: 100%;
}

.slick-slide {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  outline: none;
}

.slick-dots li.slick-active button:before {
  background-color: #212024;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.counter {
  height: auto;
}

.counter-text {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 8% 0;
  margin: 0 auto;
}

.counter-text-high {
  font-size: 40px;
  letter-spacing: 10px;
}

.counter-text-bottom {
  font-weight: 300;
  letter-spacing: 7.5px;
  font-size: 25px;
  margin-top: 30px;
}

.counter .green-arr {
  margin-top: 5%;
}

.counter-wrapped-text {
  font-weight: 500;
  font-style: italic;
}

.green-arr {
  width: 44px;
  height: 44px;
  color: #fff;
  background-color: #3dc9b3;
  line-height: 44px;
  text-align: center;
  border-radius: 100%;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.8;
}

.green-arr:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  -webkit-box-shadow: 0 0 1px 1px #3dc9b3;
  box-shadow: 0 0 1px 1px #3dc9b3;
}

.projects {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.projects-slider .slick-list {
  margin-bottom: 7%;
}

.projects .container {
  padding: 7% 0;
}

.title {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  margin-top: 45px;
}

.title::after {
  content: '';
  width: 33px;
  height: 3px;
  background-color: #3dc9b3;
  color: #3dc9b3;
  display: block;
  margin: 25px auto;
}

.project-card {
  text-align: center;
}

.project-card-image {
  position: relative;
}

.project-card-image img {
  width: 100%;
  height: auto;
}

.project-card-title::after {
  content: '';
  width: 33px;
  height: 3px;
  background-color: #3dc9b3;
  color: #3dc9b3;
  display: block;
  margin: 20px auto 30px;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.mask,
.hover-content {
  position: absolute;
}

.mask {
  background-color: #3dc9b3;
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.hover-content {
  text-align: center;
  color: #fff;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}

.hover-content i {
  font-size: 30px;
}

.hover-content .view-more {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}

.hover-project {
  cursor: pointer;
}

.hover-project .mask {
  display: initial;
}

.hover-project .hover-content {
  display: initial;
}

.ignite {
  height: auto;
  background-color: #242830;
  text-align: center;
}

.ignite a {
  border: 1px solid #fff;
  margin: 64px auto;
  padding: 0 40px;
  height: 70px;
  font-size: 15px;
  letter-spacing: 2.25px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 70px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ignite a:hover {
  border-color: #3dc9b3;
  -webkit-box-shadow: 0 0 1px 1px #3dc9b3;
  box-shadow: 0 0 1px 1px #3dc9b3;
}

.team {
  background-color: #fff;
  height: auto;
}

.team-composition {
  padding-bottom: 6%;
}

.team-members {
  text-align: center;
}

.team-photo {
  width: 200px;
  height: 200px;
  margin: 2px auto;
  position: relative;
}

.team-photo img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.team-photo .hover-mask {
  width: 100%;
  background-color: #3dc9b3;
  height: 100%;
}

.team-name {
  margin-top: 50px;
}

.team ul.slick-dots {
  margin: 5% auto 5%;
}

.team-mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-image: url(../img/team-mask.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.team-socials {
  margin-top: 38px;
}

.team-socials i {
  margin-right: 10px;
}

.team-socials i:last-child {
  margin-right: 0;
}

.team-card-hover img {
  opacity: 0.4;
  background-color: #3dc9b3;
}

.socials i {
  width: 40px;
  height: 40px;
  background-color: #242830;
  border-radius: 100%;
  color: #fff;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.socials i:hover {
  background-color: #3dc9b3;
}

.subscribe {
  height: auto;
  background-color: #353535;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: visible;
}

.subscribe-composition {
  text-align: center;
  color: #fff;
  padding: 7% 0;
}

.subscribe i {
  font-size: 25px;
}

.subscribe .title {
  margin: 25px auto 45px;
}

.subscribe .title::after {
  display: none;
}

.subscribe input {
  height: 65px;
  line-height: 65px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
}

.subscribe input[name='email'] {
  width: 350px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.subscribe input[name='email']:hover {
  border-color: #3dc9b3;
}

.subscribe input[name='email']:focus {
  -webkit-box-shadow: 0 0 1px 1px #3dc9b3;
  box-shadow: 0 0 1px 1px #3dc9b3;
  border-color: #3dc9b3;
}

.subscribe input[name='send-btn'] {
  width: 97px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2.25px;
  color: #fff;
  background-color: #3dc9b3;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  text-align: center;
}

.subscribe input[name='send-btn']:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.subscribe .green-arr {
  position: absolute;
  bottom: -22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
}

.subscribe .green-arr:hover {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.contact {
  height: auto;
  background-color: #f3f5f8;
}

.contact-card > * {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-card {
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  padding: 30px 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-card:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(36, 40, 48, 0.1);
  box-shadow: 0 0 0 1px rgba(36, 40, 48, 0.1);
}

.contact-card i {
  color: #242830;
  font-size: 25px;
}

.contact-title {
  color: #3dc9b3;
  letter-spacing: 2.1px;
  margin: 20px auto 20px;
  text-transform: uppercase;
  font-weight: 500;
}

.contact-desc {
  color: #8c9398;
}

.contact .socials {
  margin: 8% auto;
}

.contact .socials i {
  margin-right: 20px;
}

.contact .socials i:last-child {
  margin-right: 0;
}

.contact-card-hover i {
  color: #3dc9b3;
}

.contact-card-hover .contact-title {
  color: #242830;
}

.contact-card-hover .contact-desc {
  color: #242830;
}

.footer {
  height: auto;
  background-color: #242830;
}

.left-menu,
.right-menu {
  display: inline-block;
  padding: 4% 0;
  font-weight: 300;
}

.left-menu a,
.right-menu a {
  color: #a1a9b0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.left-menu a:hover,
.right-menu a:hover {
  color: #3dc9b3;
}

.left-menu li {
  display: inline-block;
  margin-left: 4px;
}

.left-menu li:last-child::after {
  display: none;
}

.left-menu li::after {
  content: "|";
  margin-left: 9px;
  color: #fff;
  font-weight: 300;
}

.right-menu {
  float: right;
  color: #fff;
}

.right-menu a.company {
  font-style: italic;
}

@media (max-width: 1200px) {
  .menu {
    right: -30vw;
    width: 30vw;
  }

  .menu-active {
    right: 0;
  }

  .burger-active {
    right: 32vw;
    color: #fff;
  }

  .right-half {
    padding-left: 18%;
  }

  .design-composition p {
    text-align: justify;
  }
}

@media (max-width: 992px) {
  .wrapper {
    width: 80%;
  }

  .service-card {
    margin-bottom: 30px;
  }

  .service-card i {
    padding: 40px;
  }

  .design .wrapper {
    background-position: 0% 20%;
  }

  .contact .row > div {
    padding: 0 5px;
  }
}

@media (max-width: 850px) {
  .left-menu,
  .right-menu {
    float: none;
    display: block;
    text-align: center;
    padding: 3%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 85%;
  }

  .menu {
    right: -100vw;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .menu p {
    font-size: 26px;
    margin-top: 85px;
  }

  .menu ul {
    margin: 5% 0;
  }

  .menu ul a {
    padding: 3% 0;
  }

  .menu-active {
    right: 0;
  }

  .burger {
    top: 40px;
    right: 10vw;
  }

  .burger-active {
    right: 10vw;
    color: #fff;
    z-index: 1000;
  }

  .header-composition {
    margin: 50% auto 0;
  }

  .header-composition .h1 {
    font-size: 24px;
  }

  .header-composition p {
    color: #353535;
    line-height: 1.7;
  }

  .service-card i {
    padding: 30px;
    font-size: 40px;
  }

  .design .wrapper {
    background-position: 0 60%;
  }

  .design::after {
    display: none;
  }

  .design ul.slick-dots {
    background-color: #fff;
    padding: 0;
    margin-bottom: 20%;
    padding-bottom: 30px;
  }

  .right-half {
    padding: 0;
  }

  .design-composition {
    background-color: #fff;
    padding: 30px;
    margin-top: 6%;
    opacity: 0.9;
  }

  .design-composition .arr::before,
  .design-composition .arr::after {
    width: 100px;
  }

  .design-composition p {
    color: #353535;
  }

  .counter-text-high {
    font-size: 32px;
  }

  .counter-text-bottom {
    font-size: 20px;
  }

  .subscribe-composition {
    padding-bottom: 12%;
  }

  .subscribe input {
    height: 50px;
    line-height: 50px;
  }

  .subscribe input[name='email'] {
    width: 90%;
    margin-bottom: 20px;
  }

  .subscribe input[name='send-btn'] {
    display: inline-block;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .wrapper {
    width: 95%;
  }

  .header {
    background-position: 0% 0%;
  }

  .design-composition {
    margin-top: 0;
    opacity: 1;
    background-color: #f3f5f8;
  }

  .design-composition p {
    color: #8c9398;
  }

  .design ul.slick-dots {
    background-color: #f3f5f8;
    margin-bottom: 0;
  }

  .counter-text-high {
    font-size: 24px;
    line-height: 1.5;
  }

  .counter-text-bottom {
    font-size: 14px;
  }

  .team ul.slick-dots {
    margin: 8% auto;
  }

  .contact-composition {
    padding-top: 13%;
  }

  .contact-card {
    padding: 20px 0;
    margin: 5px auto;
  }

  .footer {
    font-size: 12px;
    line-height: 1.7;
  }

  .arr::before,
  .arr::after {
    width: 130px;
  }
}

@media (max-width: 340px) {
  .menu p {
    font-size: 20px;
  }

  .header-composition .h1 {
    font-size: 20px;
  }

  .button {
    padding: 20px 30px;
  }

  .card-icon i {
    padding: 20px;
    font-size: 24px;
  }

  .ignite a {
    padding: 0 20px;
    font-size: 14px;
    margin: 50px auto;
  }
}