@import '_fonts.less';
@import '_vars.less';
@import 'media.less';

body, html {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	font-family: @defaultfont;
	font-weight: 400;
	background-color: #fff;
	font-size: 14px;
	color: @base;
	position: relative;
	overflow-x: hidden;
}

.wrapper {
	width: 73%;
	margin: 0 auto;
	position: relative;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none; 
	}
}

section {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.burger {
	position: absolute;
	right: 15vw;
	top: 65px;
	font-size: 33px;
	cursor: pointer;
	line-height: 24px; 
	transition: all 0.3s;
	z-index: 100;

	&:hover {
		color: @accent;
		transform: scale(1.1);
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100vh;
	z-index: 25;
	opacity: 0;
	display: none;
}

.menu {
	position: absolute;
	top: 0;
	right: -20vw;
	width: 20vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s;
	font-size: 16px;
	z-index: 100;

	p {
		color: #fff;
		font-size: 18px;
		margin-top: 7vh;
		letter-spacing: 10px;
		text-align: center;

		span {
			color: #a1a9b0;
		}
	}

	ul {
		margin: 20% 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 70vh;

		li {
			display: block;
			list-style-type: none;
		}

		 a {
			display: block;
			color: #fff;
			transition: all 0.3s ease;
		}
	}

	a::after {
		content: '';
		width: 33px;
		height: 2px;
		background-color: @accent;
		color: @accent;
		display: block;
		margin: 10px auto;
		opacity: 0.9;
	}

	li:hover {
		a {
			color: @accent;
		}
	}
}

.menu-active {	
	right: 0;
}

.burger-active {
	right: 22vw;
	color: #fff;
}

.header-composition {
	margin: 0 auto;
	text-align: center;
	margin-top: 27%;

	span {
		color: #a1a9b0;
	}

	.h1 {
		margin-bottom: 25px;
		letter-spacing: 12px;
		font-size: 40px;
	}

	p {
		color: @text;
		font-family: @defaultfont;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 2.25px;
		line-height: 1.7;

		span {
			font-weight: 500;
			font-style: italic;

		}
	}
}

.h1, .h2, .h3 {
	color: #353535;
	font-family: @defaultfont;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2.25px;
}

.h2 {
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 25px;
}

.h3 {
	font-size: 15px;
	font-weight: 500;
	margin: 25px 0;
	letter-spacing: 1.7px;
}

.button {
	color: #fff;
	background-color: @accent;
	text-transform: uppercase;
	padding: 25px 35px;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 2.25px;
	margin-top: 65px;
	display: inline-block;
	box-shadow: inset 0 -3px 0 darken(@accent, 15%);
	transition: background-color 0.3s;

	&:hover {
		text-decoration: none;
		background-color: darken(@accent, 5%);
		color: #fff;
	}
}

.composition {
	padding: 8% 0;
	margin: 0 auto;
	text-align: center;
}

.portfolio {
	width: 100%;
	background-color: #f3f5f8;
	height: inherit;
}

.portfolio-composition {
	p {
		color: @text;
		margin-top: 8%;
		line-height: 2.5;
	}
}

.arr {
	background-image: url(../img/arr.png);
	width: 15px;
	height: 13px; 
	display: block;
	margin: 0 auto;
	position: relative;
	

	&:hover {
		animation: arr-animation 0.5s ease forwards;
	}
	
	&::before, &::after {
		content: '';
	    position: absolute;
	    top: 50%;	  
	    border-bottom: 2px dotted rgba(0, 0, 0, 0.1);
	    width: 240px;
	}

	&::before {
		left: 35px;
	}

	&::after {
		right: 35px;
	}
}

@keyframes arr-animation {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 13px;
	}
}

.wrapped-item {
	color: @base;
	letter-spacing: 0.14px;
	font-weight: 700;
}

.services {
	height: inherit;
	background-color: #fff;
}

.services-cards {
	padding-bottom: 8%;
}

.service-card {
	text-align: center;
	i {
		color: #fff;
		font-size: 60px;
		background-color: @accent;
		padding: 50px;
		border-radius: 100%;	
		position: relative;
		overflow: hidden;
	}

	.card-icon {
  		overflow: hidden;
  		text-shadow: 
		rgba(50, 181, 160, 1) 1px 1px,
		rgba(50, 181, 160, 1) 2px 2px,
		rgba(50, 181, 160, 1) 3px 3px,
		rgba(50, 181, 160, 1) 3px 3px,
		rgba(50, 181, 160, 1) 4px 4px,
		rgba(50, 181, 160, 1) 5px 5px,
		rgba(50, 181, 160, 1) 6px 6px,
		rgba(50, 181, 160, 1) 7px 7px,
		rgba(50, 181, 160, 1) 8px 8px,
		rgba(50, 181, 160, 1) 9px 9px,
		rgba(50, 181, 160, 1) 10px 10px,
		rgba(50, 181, 160, 1) 11px 11px,
		rgba(50, 181, 160, 1) 12px 12px,
		rgba(50, 181, 160, 1) 13px 13px,
		rgba(50, 181, 160, 1) 14px 14px,
		rgba(50, 181, 160, 1) 15px 15px,
		rgba(50, 181, 160, 1) 16px 16px,
		rgba(50, 181, 160, 1) 17px 17px,
		rgba(50, 181, 160, 1) 18px 18px,
		rgba(50, 181, 160, 1) 19px 19px,
		rgba(50, 181, 160, 1) 20px 20px,
		rgba(50, 181, 160, 1) 21px 21px,
		rgba(50, 181, 160, 1) 22px 22px,
		rgba(50, 181, 160, 1) 23px 23px,
		rgba(50, 181, 160, 1) 24px 24px,
		rgba(50, 181, 160, 1) 25px 25px,
		rgba(50, 181, 160, 1) 26px 26px,
		rgba(50, 181, 160, 1) 27px 27px,
		rgba(50, 181, 160, 1) 28px 28px,
		rgba(50, 181, 160, 1) 29px 29px,
		rgba(50, 181, 160, 1) 30px 30px,
		rgba(50, 181, 160, 1) 31px 31px,
		rgba(50, 181, 160, 1) 32px 32px,
		rgba(50, 181, 160, 1) 33px 33px,
		rgba(50, 181, 160, 1) 34px 34px,
		rgba(50, 181, 160, 1) 35px 35px,
		rgba(50, 181, 160, 1) 36px 36px,
		rgba(50, 181, 160, 1) 37px 37px,
		rgba(50, 181, 160, 1) 38px 38px,
		rgba(50, 181, 160, 1) 39px 39px,
		rgba(50, 181, 160, 1) 40px 40px,
		rgba(50, 181, 160, 1) 41px 41px,
		rgba(50, 181, 160, 1) 42px 42px,
		rgba(50, 181, 160, 1) 43px 43px,
		rgba(50, 181, 160, 1) 44px 44px,
		rgba(50, 181, 160, 1) 45px 45px,
		rgba(50, 181, 160, 1) 46px 46px,
		rgba(50, 181, 160, 1) 47px 47px,
		rgba(50, 181, 160, 1) 48px 48px,
		rgba(50, 181, 160, 1) 49px 49px,
		rgba(50, 181, 160, 1) 50px 50px,
		rgba(50, 181, 160, 1) 51px 51px,
		rgba(50, 181, 160, 1) 52px 52px,
		rgba(50, 181, 160, 1) 53px 53px,
		rgba(50, 181, 160, 1) 54px 54px,
		rgba(50, 181, 160, 1) 55px 55px,
		rgba(50, 181, 160, 1) 56px 56px,
		rgba(50, 181, 160, 1) 57px 57px,
		rgba(50, 181, 160, 1) 58px 58px,
		rgba(50, 181, 160, 1) 59px 59px,
		rgba(50, 181, 160, 1) 60px 60px,
		rgba(50, 181, 160, 1) 61px 61px,
		rgba(50, 181, 160, 1) 62px 62px,
		rgba(50, 181, 160, 1) 63px 63px,
		rgba(50, 181, 160, 1) 64px 64px,
		rgba(50, 181, 160, 1) 65px 65px,
		rgba(50, 181, 160, 1) 66px 66px,
		rgba(50, 181, 160, 1) 67px 67px,
		rgba(50, 181, 160, 1) 68px 68px,
		rgba(50, 181, 160, 1) 69px 69px,
		rgba(50, 181, 160, 1) 70px 70px,
		rgba(50, 181, 160, 1) 71px 71px,
		rgba(50, 181, 160, 1) 72px 72px,
		rgba(50, 181, 160, 1) 73px 73px,
		rgba(50, 181, 160, 1) 74px 74px,
		rgba(50, 181, 160, 1) 75px 75px,
		rgba(50, 181, 160, 1) 76px 76px,
		rgba(50, 181, 160, 1) 77px 77px,
		rgba(50, 181, 160, 1) 78px 78px,
		rgba(50, 181, 160, 1) 79px 79px,
		rgba(50, 181, 160, 1) 80px 80px,
		rgba(50, 181, 160, 1) 81px 81px,
		rgba(50, 181, 160, 1) 82px 82px,
		rgba(50, 181, 160, 1) 83px 83px,
		rgba(50, 181, 160, 1) 84px 84px,
		rgba(50, 181, 160, 1) 85px 85px,
		rgba(50, 181, 160, 1) 86px 86px,
		rgba(50, 181, 160, 1) 87px 87px,
		rgba(50, 181, 160, 1) 88px 88px,
		rgba(50, 181, 160, 1) 89px 89px,
		rgba(50, 181, 160, 1) 90px 90px,
		rgba(50, 181, 160, 1) 91px 91px,
		rgba(50, 181, 160, 1) 92px 92px,
		rgba(50, 181, 160, 1) 93px 93px,
		rgba(50, 181, 160, 1) 94px 94px,
		rgba(50, 181, 160, 1) 95px 95px,
		rgba(50, 181, 160, 1) 96px 96px,
		rgba(50, 181, 160, 1) 97px 97px,
		rgba(50, 181, 160, 1) 98px 98px,
		rgba(50, 181, 160, 1) 99px 99px,
  	    rgba(50, 181, 160, 1) 100px 100px;
	}

	h3.title {
		margin: 25px 0;
	}
}

.text {
	text-align: center;
	color: @text;
	line-height: 1.7;
}

.design {
	height: auto;
	background-color: #f3f5f8;
	position: relative;

	&::after {
		content: '';
		background-color: #fff;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 50%;
		display: block;
		}

	.wrapper {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 10% 0%;	
	}	
}

.right-half {
	z-index: 2;
	text-align: center;
	padding-left: 10%; 
	padding-right: 0;

	.slick-dots {
		padding-bottom: 24%;
	}
}

.design-composition {
	box-sizing: border-box;
	
	.arr {
		&::before, &::after {
			width: 150px;
		}
	}
	
	p {
		margin-top: 50px;
		word-spacing: 3px;
		color: @text;
		line-height: 1.8;
		text-align: left;
	}
}

.design-slider {
	width: 100%;
	overflow: hidden;
}

.slick-dots {	
	position: static;

	li button {
		border: 2px solid #c9cbca;
		border-radius: 100%;
		width: 10px;
		height: 10px;
		transition: all 0.3s ease;

		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
		}

	}
}

.slick-dots li button:before {
	content: '';
	opacity: 0;
	width: 10px;
	height: 10px;
	top: 2px;
	left: 2px;
	border-radius: 100%;
}

.slick-slide {
	user-select: text;
	outline: none;
}

.slick-dots li.slick-active button:before {
	background-color: #212024;
	opacity: 1;
	transition: all 0.5s ease;
}

.counter {
	height: auto;

	&-text {
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		padding: 8% 0;
		margin: 0 auto; 
	}

	&-text-high {
		font-size: 40px;
		letter-spacing: 10px;
	}

	&-text-bottom {
		font-weight: 300;
		letter-spacing: 7.5px;
		font-size: 25px;
		margin-top: 30px;
	}	

	.green-arr {
		margin-top: 5%;
	}
}

.counter-wrapped-text {
	font-weight: 500;
	font-style: italic;
}

.green-arr {
	width: 44px;
	height: 44px;
	color: #fff;
	background-color: @accent;
	line-height: 44px;
	text-align: center;
	border-radius: 100%;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
	opacity: 0.8;

	&:hover {
		transform: scale(1.1);
		opacity: 1;
		box-shadow: 0 0 1px 1px @accent;
	}
}

.projects {
	width: 100%;
	height: auto;
	background-color: #fff;

	&-slider {
		.slick-list {
			margin-bottom: 7%;
		}
	}
	
	.container {
		padding: 7% 0;
	}
}

.title {
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2.25px;
	margin-top: 45px;

	&::after {
		content: '';
		width: 33px;
		height: 3px;
		background-color: @accent;
		color: @accent;
		display: block;
		margin: 25px auto;
	}
}

.project {

	&-card {
		text-align: center;

		&-image {
			position: relative;

			img {
				width: 100%;
				height: auto;
			}
		}

		&-title {

			&::after {
				content: '';
				width: 33px;
				height: 3px;
				background-color: @accent;
				color: @accent;
				display: block;
				margin: 20px auto 30px;
			}
		}
	}
}

.slick-dotted.slick-slider {
	margin: 0;
}

.mask, .hover-content {
	position: absolute;
}

.mask {
	background-color: @accent;
	opacity: 0.7;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.hover-content {
	text-align: center;
	color: #fff;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;

	i {
		font-size: 30px;
	}

	.view-more {
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		margin-top: 20px;
	}
}

.hover-project {
	cursor: pointer;

	.mask {
		display: initial;
	}

	.hover-content {
		display: initial;
	}
}

.ignite {
	height: auto;
	background-color: #242830;
	text-align: center;

	a {
		border: 1px solid #fff;
		margin: 64px auto;
		padding: 0 40px;
		height: 70px;
		font-size: 15px;
		letter-spacing: 2.25px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		line-height: 70px;
		display: inline-block;
		transition: all 0.3s ease;

		&:hover {
			border-color: @accent;
			box-shadow: 0 0 1px 1px @accent;
		}
	}
}

.team {
	background-color: #fff;
	height: auto;

	&-composition {
		padding-bottom: 6%;
	}

	&-members {
		text-align: center;
	}

	&-photo {
		width: 200px;
		height: 200px;
		margin: 2px auto;
		position: relative;

		img {
			width: 100%;
			height: auto;
			transition: all 0.3s ease;
		}		

		.hover-mask {
			width: 100%;
			background-color: @accent;
			height: 100%;
		}
	}

	&-name {
		margin-top: 50px;
	}

	ul.slick-dots {
		margin: 5% auto 5%;
	}

	&-mask {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: block;
		background-image: url(../img/team-mask.png);
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

	&-socials {
		margin-top: 38px;

		i {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.team-card-hover {
	img {
		opacity: 0.4;
		background-color: @accent;
	}
}

.socials {
	i {
		width: 40px;
		height: 40px;
		background-color: #242830;
		border-radius: 100%;
		color: #fff;
		line-height: 40px;
		text-align: center;
		transition: all 0.3s ease;
		cursor: pointer;

		&:hover {
			background-color: @accent;
		} 
	}
}

.subscribe {
	height: auto;
	background-color: @base;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	overflow: visible;

	&-composition {
		text-align: center;
		color: #fff;
		padding: 7% 0;
	}

	i {
		font-size: 25px;
	}

	.title {
		margin: 25px auto 45px;

		&::after {
			display: none;
		}
	}

	input {
		height: 65px;
		line-height: 65px;
		transition: all 0.3s ease;
		outline: none;
	}

	.green-arr {
		position: absolute;
		bottom: -22px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;	

		&:hover {
			transform: translateX(-50%);
		}
	}
}

input[name='email'] {
	width: 350px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2.25px;
	padding-left: 20px;
	box-sizing: border-box;

	&:hover {
		border-color: @accent; 
	}

	&:focus {
		box-shadow: 0 0 1px 1px @accent;
		border-color: @accent; 
	}
}

input[name='email'].success-email-text {
	border: 1px solid #aaec7e;
	box-shadow: 0 0 1px 1px #aaec7e;
}

input[name='send-btn'].success-email-button {
	background-color: #aaec7e;
	box-shadow: 0 0 1px 1px #aaec7e;
}

input[name='email'].error-email-text {
	border: 1px solid #ed7e7e;
	box-shadow: 0 0 1px 1px #ed7e7e;
}

input[name='send-btn'].error-email-button {
	background-color: #ed7e7e;
	box-shadow: 0 0 1px 1px #ed7e7e;
}

input[name='send-btn'] {
	width: 97px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 2.25px;
	color: #fff;
	background-color: @accent;
	border: none;
	margin-left: 5px;
	cursor: pointer;
	text-align: center;

	&:hover {
		transform: translateY(-2px);
	}
}

.contact {
	height: auto;
	background-color: #f3f5f8;

	&-card > * {
		transition: all 0.3s ease; 
	}

	&-card {
		text-align: center;
		background-color: #fff;
		margin: 0 auto;
		padding: 30px 0;
		cursor: pointer;
		box-sizing: border-box;
		transition: all 0.3s ease; 

		&:hover {
			box-shadow: 0 0 0 1px rgba(#242830, 10%);
		}

		i {
			color: #242830;
			font-size: 25px;	
		} 
	}

	&-title {
		color: @accent;
		letter-spacing: 2.1px;
		margin: 20px auto 20px;
		text-transform: uppercase;
		font-weight: 500;
	}

	&-desc {
		color: @text;
	}

	.socials {
		margin: 8% auto;

		i {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.contact-card-hover {

	i {
		color: @accent;
	}

	.contact-title {
		color: #242830;
	}

	.contact-desc {
		color: #242830;
	}
}

.footer {
	height: auto;
	background-color: #242830;
}

.left-menu, .right-menu {
	display: inline-block;
	padding: 4% 0;
	font-weight: 300;

	a {
		color: #a1a9b0;
		transition: all 0.3s ease;

		&:hover {
			color: @accent;
		}
	}
}

.left-menu {

	li {
		display: inline-block;
		margin-left: 4px;

		&:last-child {

			&::after {
				display: none; 
			}
		}

		&::after {
			content: "|";
			margin-left: 9px;
			color: #fff;
			font-weight: 300;
		}
	}
}

.right-menu {
	float: right;
	color: #fff;

	a {

		&.company {
			font-style: italic;
		}
	}
}